* {
    margin: 0 auto;
    padding: 0;
}

body, html {
    height: 100%;
    
}


body {
    margin: 0;
    padding: 0;
    font-size: small; 
    font-family: arial,sans-serif;
    background: #fff;
}



ul a {
    text-decoration: none;
}
 
li{
    display: inline;
}

.top-nav-left{
    padding-left: 15px;
    display: block;
}

.top-nav-right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 15px 2px 0 19px;
    position: relative;
    height: 40px;
    
}



.topleft {
    padding: 15px 2px 0 19px;
    position: relative;
    float: left; /* aitas About ja Store alla poole panna */
    opacity: 0.75;
    text-decoration: none;
    color:black;
    text-align: center;
}

.topright {
    color:black ;
    align-items: center;
    margin: 10px;
}

header :hover {
    text-decoration: underline;
}

#apps {
    opacity: .55;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}   

.top-nav-right a img:hover{
    opacity: 1;
}

#SignButton { 
    color: #fff;    
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    
}



.main {
    text-align: center;
}



.googlelogos {
    margin:auto;
    padding-top: 140px;
    padding-bottom: 20px;
}
.googlelogos img {
    
}

.googlelucky {
    padding-top: 28px;
}

.twobuttons {
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

.googlelucky :hover {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}